<button (click)="addRent()" class="add-button" mat-raised-button ><mat-icon>add</mat-icon>Novo empréstimo</button>

<div>
  <mat-form-field fxLayoutAlign="center">
    <mat-label>Filtrar: </mat-label>
    <input matInput placeholder="Filtre por qualquer campo" (keyup)="filter(inputFiltro.value)" #inputFiltro>
  </mat-form-field>
  <mat-table class="table-width" [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: showColumns;"></mat-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef>Usuário</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.user.name | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.book.title | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rentDate">
      <mat-header-cell *matHeaderCellDef>Data empréstimo</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.rentDate | dateFormat }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="devolutionDate">
      <mat-header-cell *matHeaderCellDef>Data devolução</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.devolutionDate | dateFormat }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="paymentValue">
      <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
      <mat-cell *matCellDef="let item">R$ {{ item.paymentValue | moneyFormat }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="devolution(item)" matTooltip="Devolução">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
