<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="space-icon">my_library_books</mat-icon>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary">
  <a mat-button routerLink="">DASHBOARD</a>
  <a mat-button routerLink="users">USUÁRIOS</a>
  <a mat-button routerLink="books">LIVROS</a>
  <a mat-button routerLink="authors">AUTORES</a>
  <a mat-button routerLink="rents">EMPRÉSTIMOS</a>
  <a mat-button routerLink="reservations">RESERVAS</a>
  <a mat-button routerLink="reports">RELATÓRIOS</a>
</mat-toolbar>
