<button (click)="addUser()" class="add-button" mat-raised-button ><mat-icon>add</mat-icon> Novo usuário</button>
<div fxLayout="row wrap" fxLayoutAlign="space-around">
  <ng-container *ngFor="let user of users">
    <mat-card class="card-user" fxLayout="column" fxLayoutAlign="center end">
      <img mat-card-image [src]="user.avatar" alt="avatar">
        <mat-card-title>{{ user.name | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-icon-button (click)="edit(user)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="remove(user)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
