<button (click)="addBook()" class="add-button" mat-raised-button ><mat-icon>add</mat-icon>Novo livro</button>

<div>
  <mat-form-field fxLayoutAlign="center">
    <mat-label>Filtrar: </mat-label>
    <input matInput placeholder="Filtre por qualquer campo" (keyup)="filter(inputFiltro.value)" #inputFiltro>
  </mat-form-field>

  <mat-table class="table-width" [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="showColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: showColumns;"></mat-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.title | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef>Autor</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.author.name | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="available">
      <mat-header-cell *matHeaderCellDef>Disponível</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <td *ngIf="item.available === true"> Sim </td>
        <td *ngIf="item.available === false"> Não </td>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button mat-icon-button (click)="edit(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button >
          <mat-icon (click)="remove(item)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  </mat-table>
</div>
