<div fxLayout="row wrap" fxLayoutAlign="space-around">

  <div fxFlex="40" class="marginTop">
    <mat-chip fxLayoutAlign="center" color="primary" selected>Últimos empréstimos</mat-chip>
    <mat-table class="table-width" [dataSource]="dataSourceRents">
      <mat-header-row *matHeaderRowDef="showColumnsRents"></mat-header-row>
      <mat-row *matRowDef="let row; columns: showColumnsRents;"></mat-row>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.book.title | titlecase }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="rentDate">
        <mat-header-cell *matHeaderCellDef>Data empréstimo</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.rentDate | dateFormat }}</mat-cell>
      </ng-container>
    </mat-table>
  </div>

  <div fxFlex="40" class="marginTop">
    <mat-chip fxLayoutAlign="center" color="primary" selected>Próximas devoluções</mat-chip>
    <mat-table class="table-width" [dataSource]="dataSourceDevolutions">
      <mat-header-row *matHeaderRowDef="showColumnsDevolutions"></mat-header-row>
      <mat-row *matRowDef="let row; columns: showColumnsDevolutions;"></mat-row>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.book.title | titlecase }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="devolutionDate">
        <mat-header-cell *matHeaderCellDef>Data devolução</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.devolutionDate | dateFormat }}</mat-cell>
      </ng-container>
    </mat-table>
  </div>
</div>
